<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/header.ejs %>
        <nav>
            <% include partials/navigationBar.ejs %>
        </nav>
        <div class="content">
            <h1><span class="foodie">Foodie</span> is all about you!</h1>
            <p class="intro">Search for your favorite type of food and we'll give you a random restaurant that you should try out!</p>
            <div class="search">
                <form class="form">
                    <input class="searchBox" type="text" name="searchTerm" placeholder="Search..." autofocus>
                    <input class="submitButton" type="submit" value="Search">
                </form>
                <div class="searchResults"></div>
                <div class="map">
                    <div id="googlemap"></div>
                </div>
            </div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= GoogleAPIKey %>"></script>
        <script src="js/searchHelper.js"></script>
        <script src="js/googleMaps.js"></script>
    </body>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</html>