<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/header.ejs %>
        <nav>
            <% include partials/navigationBar.ejs %>
        </nav>
        <h1>Hello World!</h1>
        <p>Test Page!</p>
    </body>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</html>