<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/header.ejs %>
        <nav>
            <% include partials/navigationBar.ejs %>
        </nav>
        <div class="content">
            <h1>Hello World!</h1>
            <p>Test Page!</p>
            <p><%= token %></p>
            <a href="https://api.yelp.com/v3/autocomplete?text=del&latitude=37.786882&longitude=-122.399972">Click Me</a>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!</p>
            <p>Test Page!000</p>
        </div>
    </body>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</html>