html {
    font-size: 1rem;
    height: 100%;
}

body {
    font-family: Arial;
    font-size: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

p {
    margin: 0;
    padding: 0;
}

footer>p.addMargin {
    margin-top: 1em;
}

nav {
    box-shadow: 0em .25em 2em gray;
    text-align: center;
    background-color: #42A5F5;
}

nav>div>a {
    display: inline-block; /* Allows anchor tags to accept height */
    font-size: 1.5rem; /* Set back to correct size */
    text-shadow: .05em .05em .1em black;
    margin: 0;
    padding: .5em;
    color: white;
    text-decoration: none;
}

nav>div>a:visited {
    color: white;
    text-shadow: .05em .05em .1em black;
}

nav>div>a:hover {
    background-color: #2196F3;
}

footer {
    text-shadow: .05em .05em .1em black;
    padding-bottom: 1em;
    text-align: center;
    background-color: #42A5F5;
    color: white;
}

footer>p {
    font-size: 1rem;
}

footer>p>span#red {
    color: red;
}

#header {
    z-index: 1; /* We don't wnat shadows from navbar on header */
    font-size: 4rem;
    color: white;
    text-shadow: .05em .05em .1em black;
    background-color: #2196F3;
    margin: 0;
    padding: 1em;
}

.content {
    flex: 1;
    font-size: 1rem;
}

.removeSpacing {
    font-size: 0;
}

@media only screen and (max-width: 980px) { /* Nexus 6P; other mobile devices */
    #header {
        font-size: 6rem;
    }

    nav>div>a {
        font-size: 3rem;
    }

    footer {
        padding-bottom: 2em;
    }

    footer>p {
        font-size: 2rem;
    }

    .content {
        font-size: 2rem;
    }

    #header {
        text-align: center;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1024px) { /* Small Desktop Resolution */
    #header {
        font-size: 2rem;
    }

    nav>div>a {
        font-size: .75rem;
    }

    footer {
        padding-bottom: .75em;
    }

    footer>p {
        font-size: .75rem;
    }

    .content {
        font-size: .75rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) { /* Small to Medium Desktop Resolution */
    #header {
        font-size: 3rem;
    }

    nav>div>a {
        font-size: 1.25rem;
    }

    footer {
        padding-bottom: 1em;
    }

    footer>p {
        font-size: 1.25rem;
    }

    .content {
        font-size: 1.25rem;
    }
}