html {
    font-size: 1rem;
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial;
    font-size: 1rem;
    margin: 0 0 3em;
    padding: 0;
}

a {
    font-size: 1.5rem; /* Set back to correct size */
    text-shadow: .05em .05em .1em black;
    margin: 0;
    padding: .5em;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-shadow: .05em .05em .1em black;
}

a:hover {
    background-color: #2196F3;
}

p {
    margin: 0;
    padding: 0;
}

footer>p.addMargin {
    margin-top: 1em;
}

nav {
    font-size: 1.45rem; /* Needed for correct padding below. */
    text-align: center;
    background-color: #42A5F5;
    padding-top: .5em;
    padding-bottom: .5em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    text-align: center;
    background-color: #42A5F5;
    color: white;
}

footer>p>span#red {
    color: red;
}

#header {
    font-size: 4rem;
    color: white;
    text-shadow: .05em .05em .1em black;
    background-color: #2196F3;
    margin: 0;
    padding: 1em;
}

.removeSpacing {
    font-size: 0;
}

@media only screen and (max-width: 768px) {

}