@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html {
    font-size: 1rem;
    height: 100%;
    min-width: 55em;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

footer>p.addMargin {
    margin-top: 1em;
}

nav {
    box-shadow: 0em .25em 2em gray;
    text-align: center;
    background-color: #42A5F5;
}

nav>div>a {
    display: inline-block; /* Allows anchor tags to accept height */
    font-size: 1.25rem; /* Set back to correct size */
    text-shadow: .05em .05em .1em black;
    margin: 0;
    padding: .5em;
    color: white;
    text-decoration: none;
}

nav>div>a:visited {
    color: white;
    text-shadow: .05em .05em .1em black;
}

nav>div>a:hover {
    background-color: #2196F3;
}

footer {
    text-shadow: .05em .05em .1em black;
    padding-bottom: 1em;
    text-align: center;
    background-color: #42A5F5;
    color: white;
}

footer>p {
    font-size: 1rem;
}

footer>p>span#red {
    color: red;
}

footer>p>a {
    color: white;
}

footer>p>a:hover {
    color: white;
}

#header {
    z-index: 1; /* We don't wnat shadows from navbar on header */
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color: white;
    text-shadow: .05em .05em .1em black;
    background-color: #2196F3;
    margin: 0;
    padding: .25em;
}

.content {
    flex: 1;
    font-size: 1rem;
    text-align: center;
}

.foodie {
    font-family: 'Lobster', cursive;
}

.intro {
    margin: 1em;
    padding: 0;
    font-size: 1.5rem;
}

.form {
    display: inline-flex;
    width: 50%;
}

.searchBox {
    flex-grow: 100;
    margin: 0;
    padding: 1em;
    border: .1em solid;
    border-color: #2196F3;
}

.searchBox:focus {
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 1em #2196F3;
}

.submitButton {
    color: white;
    margin: 0;
    padding: 1em;
    border-left: 0em solid;
    border-right: .1em solid;
    border-top: .1em solid;
    border-bottom: .1em solid;
    border-color: #2196F3;
    background-color: #42A5F5;
}

.searchResults {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
    padding: 0;
}

.business {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.businessImage {
    width: 400px;
    height: 400px;
}

.businessImage>img {
    display: block;
    width: 100%;
    height: 100%;
}

.businessText {
    margin-left: 10rem;
}

.businessText>img {
    width: 250px;
}

.map {
    border: dotted .25em red; /* DEBUG */
    min-width: 50px; /* DEBUG */
}

.error {
    font-weight: bold;
    color: red;
}

@media only screen and (max-width: 980px) { /* Nexus 6P; other mobile devices */

    html {
        min-height: 85em; /* Keep footer at the bottom when keyboard is out */
    }

    #header {
        text-align: center;
        font-size: 10rem;
    }

    nav>div>a {
        font-size: 3rem;
    }

    footer {
        padding-bottom: 2em;
    }

    footer>p {
        font-size: 2rem;
    }

    .content {
        font-size: 2rem;
    }

    .intro {
        font-size: 1rem;
    }

    .form {
        width: 90%;
    }

    .searchBox {
        font-size: 2.5rem;
    }

    .submitButton {
        font-size: 2.5rem;
    }

    .searchResults {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .businessText {
        margin-left: 3rem;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1024px) { /* Small Desktop Resolution */
    #header {
        font-size: 4rem;
    }

    nav>div>a {
        font-size: .75rem;
    }

    footer {
        padding-bottom: .75em;
    }

    footer>p {
        font-size: .75rem;
    }

    .content {
        font-size: .75rem;
    }
    .searchResults {
        margin-top: 2em;
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) { /* Small to Medium Desktop Resolution */
    #header {
        font-size: 3rem;
    }

    nav>div>a {
        font-size: 1.125rem;
    }

    footer {
        padding-bottom: 1em;
    }

    footer>p {
        font-size: 1.25rem;
    }

    .content {
        font-size: 1.25rem;
    }

    .searchResults {
        margin-top: 2em;
        margin-left: 5em;
        margin-right: 5em;
    }
}